<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logged in</title>
</head>
<body>

<h1>Logged in</h1>

<table>
    <tr>
        <td>User ID:</td>
        <td>
            <input type="text" name="id" th:value="${user.user_id}" readonly>
        </td>
    </tr>
    <tr>
        <td>Name:</td>
        <td>
            <input type="text" name="name" th:value="${user.email}" readonly>
        </td>
        <td>
            <input type="text" name="name" th:value="${user.role_id}" readonly>
        </td>
    </tr>
</table>


<form action="/" method="get">
    <button type="submit">Go to homepage</button>
</form>

</body>
</html>
