<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/main.css}" rel="stylesheet">
<head>
    <title>Project Task Overview</title>
</head>

<body>
<h1>Tasks for Subproject: <span th:text="${subprojectName}"></span></h1>


<table>
    <thead>
    <tr>
        <th>Task Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
        <th>Estimated Hours</th>
        <th>Actual Hours</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.task_name}"></td>
        <td th:text="${task.startdate}"></td>
        <td th:text="${task.enddate}"></td>
        <td th:text="${task.status}"></td>
        <td th:text="${task.estimated_hours}"></td>
        <td th:text="${task.actual_hours}"></td>
    </tr>
    </tbody>
</table>


<a th:href="@{'/project-leader-overview'}" class="btn">Back to Project Overview</a>
</body>
</html>
