<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/main.css}" rel="stylesheet">
<head>
    <title>Project Leader Overview</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<h1>Project Leader Overview</h1>

<h2>Projects</h2>
<table>
    <thead>
    <tr>
        <th>Project Name</th>
        <th>Budget</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(projects)}">
        <td colspan="3">No projects available.</td>
    </tr>
    <tr th:each="project : ${projects}">
        <td th:text="${project.project_name}"></td>
        <td th:text="${project.budget}"></td>
        <td th:text="${project.project_description}"></td>
    <td>
        <form action="/project-leader-subproject-overview" method="get">
           <!-- <input type="hidden" name="projectId" th:value="${project.project_id}" />-->
            <input type="hidden" name="projectName" th:value="${project.project_name}" />
            <button type="submit">See subprojects</button>
        </form>
    </td>
    </tr>

    </tbody>
</table>

<form action="/add-project" method="get">
    <button type="submit">Add project</button>
</form>
<form action="/logout" method="get">
    <button type="submit">Log out</button>
</form>
</body>
</html>
