<!DOCTYPE html>
<html lang="en">
<link th:href="@{/main.css}" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Project Leader Overview over Subprojekt</h1>

<h2>Projects</h2>
<table>
  <thead>
  <tr>
    <th>Belongs to project name:</th>
  </tr>
  </thead>
  <tbody>
  <td th:text="*{projectName}"></td>
  </tbody>
</table>

<h2>Subprojects</h2>
<table>
  <thead>
  <tr>
    <th>Subproject Name</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="subproject : ${subprojects}">
    <td th:text="${subproject.subproject_name}"></td>
    <td th:text="${subproject.subproject_description}"></td>
    <td>
      <form action="/project-leader-tasks" method="get">
        <input type="hidden" name="subproject_id" th:value="${subproject.subproject_id}" />
        <input type="hidden" name="subprojectName" th:value="${subproject.subproject_name}" />
        <button type="submit">View Tasks</button>
      </form>
    </td>

  </tr>
  </tbody>
</table>
<form action="/add-project" method="get"><!--rettes-->
  <button type="submit">Add subproject</button>
</form>
<form action="/logout" method="get">
  <button type="submit">Log out</button>
</form>
<form action="/project-leader-overview" method="get">
  <button type="submit">Back to project overview</button>
</form>
</body>
</html>